body {margin: 0; padding: 0; box-sizing: border-box;
    background-color: #5f7c8a;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa {
    background-color: white;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

h2 {
    text-align: center;
    color: #5f7c8a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}